<p>The homepage akshan!</p>
<h2>Your Job Applications</h2>
<table>
    <tr>
        <th>Company</th>
        <th>Position</th>
        <th>Location</th>
        <th>Employment Type</th>
        <th>Commute</th>
        <th>Stage</th>
        <th>DateApplied</th>
        <th>UpdatedOn</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let i of jobApplications">
        <td>{{ i.company }}</td>
        <td>{{ i.position }}</td>
        <td>{{ i.location }}</td>
        <td>{{ i.employmentType }}</td>
        <td>{{ i.commute }}</td>
        <td>{{ i.stage }}</td>
        <td>{{ i.dateApplied.getMonth()+1 }}/{{ i.dateApplied.getDay() }}/{{ i.dateApplied.getFullYear() }}</td>
        <td>{{ i.updatedOn.getMonth()+1 }}/{{ i.updatedOn.getDay() }}/{{ i.updatedOn.getFullYear() }}</td>
        <td>{{ i.status }}</td>
    </tr>
</table>
<h2>Add a job application</h2>
<form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="applyForm">
    <div>
        <label for="company">Company</label>
        <input type="text" id="company" formControlName="company">
    </div>
    <div>
        <label for="position">Position</label>
        <input type="text" id="position" formControlName="position">
    </div>

    <div>
        <label for="location">Location</label>
        <input type="text" id="location" formControlName="location">
    </div>

    <div>
        <label for="employmentType">Employment Type</label>
        <input type="text" id="employmentType" formControlName="employmentType">
    </div>

    <div>
        <label for="commute">Commute</label>
        <input type="text" id="commute" formControlName="commute">
    </div>

    <div>
        <label for="status">Status</label>
        <input type="text" id="status" formControlName="status">
    </div>
    
    
    
    
    <button type="submit" [disabled]="!form.form.valid">
        Add new job application
    </button>
</form>