<section>
    <h2>Your Job Applications</h2>
    <div class="job-app-list">
        <div class="job-list-heading">
            <div>Company</div>
            <div>Position</div>
            <div>Location</div>
            <div>Employment Type</div>
            <div>Commute</div>
            <div>Date Applied</div>
            <div>Updated On</div>
            <div>Application Status</div>
            <div>Note(s)</div>
        </div>
        <ng-container *ngFor="let jobapp of jobApplications" class="job-app-list-component">
            <app-jobapplication [jobapp]="jobapp" class="job-app-item-container"></app-jobapplication>
        </ng-container>
    </div>
</section>

<section class="list-action-menu-section">
    <button (click)="saveItems()" class="btn-save-items">
        Save Job Applications
    </button>
    <button (click)="clearItems()" class="btn-clear-items">
        Clear Job Applications
    </button>
</section>

<section class="create-job-app-section">
    <h2>Add a job application</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="applyForm" class="create-job-app-form">
        <div>
            <label for="company">Company</label>
            <input type="text" id="company" formControlName="company">
        </div>
        <div>
            <label for="position">Position</label>
            <input type="text" id="position" formControlName="position">
        </div>
    
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" formControlName="location">
        </div>
    
        <hr>
        <div>
            <label for="employmentType">Employment Type</label>
            <select id="employmentType" formControlName="employmentType" value="Full-time">
                <option value="Full-time" selected="true">Full-time</option>
                <option value="Part-time">Part-time</option>
                <option value="Contract">Contract</option>
                <option value="Freelance">Freelance</option>
                <option value="Internship">Internship</option>
            </select>
        </div>


        <div>
            <label for="commute">Commute</label>
            <select id="commute" formControlName="commute" value="On-site">
                <option value="On-site" selected="true">On-site</option>
                <option value="Remote">Remote</option>
                <option value="Hybrid">Hybrid</option>
            </select>
        </div>
    
        <div>
        <label for="status">Status</label>
            <select id="status" formControlName="status" value="Not Applied">
                <option value="Not Applied" selected="true">Not Applied</option>
                <option value="Applied">Applied</option>
                <option value="Interviewing">Interviewing</option>
                <option value="Offer Received">Offer Received</option>
                <option value="Accepted Offer">Accepted Offer</option>
                <option value="Widthdrawn">Widthdrawn</option>
                <option value="Rejected">Rejected</option>
                <option value="Ghosted">Ghosted</option>
            </select>
        </div>
    
        <div>
            <label for="notes">Add note</label>
            <input type="text" id="notes" formControlName="notes">
        </div>
    
    
        <button type="submit" [disabled]="!form.form.valid" class="btn-add-job-app">
            Add new job application
        </button>
    </form>
</section>
