@import "variables";
@import "mixins";

td {
    background-color: $col-accent;
}

.job-app-list {
    display: flex;
    flex-direction: column;

    .job-list-heading {
        display: grid;
        padding: 0.5em 0;
        grid-template-columns: repeat(8, 1fr) 40%;
        border: 1px solid $col-text;
    }

    .job-list-heading {
        background-color: $col-blue;
    }

    .job-app-item-container:nth-child(2n-1) {
        background-color: $col-blue-grey;
    }
    
    .job-app-item-container:nth-child(2n) {
        background-color: $col-blue-grey-lighter;
    }
}

.create-job-app-section {
    width: 50vw;
    .create-job-app-form {
        
        label {
            font-weight: bold;
        }
        & div {
            margin-bottom: 0.5em;
            input, select {
                @include input-field;
                width: 50%;
            }
        }

        .btn-add-job-app {
            @include button-ui;
        }
    }
}