<div class="job-app-item">
    <div>{{ jobapp.company }}</div>
    <div>{{ jobapp.position }}</div>
    <div>{{ jobapp.location }}</div>
    <div>{{ jobapp.employmentType }}</div>
    <div>{{ jobapp.commute }}</div>
    <div>{{ jobapp.dateApplied ? jobapp.dateApplied.getMonth()+1 : "" }}/{{ jobapp.dateApplied ?
        jobapp.dateApplied.getDate() : ""
        }}/{{ jobapp.dateApplied ? jobapp.dateApplied.getFullYear() : "" }}</div>
    <div>{{ jobapp.updatedOn.getMonth()+1 }}/{{ jobapp.updatedOn.getDate() }}/{{ jobapp.updatedOn.getFullYear() }}</div>
    <div>{{ jobapp.status }}</div>
    <div>
        <ul>
            <li *ngFor="let note of jobapp.notes" class="note-item">
                {{note}}
            </li>
        </ul>
    </div>
    <div class="edit-button-container">
        <div *ngIf="!isEditing">
            <button (click)="onClick()">Edit</button>
        </div>
        <div *ngIf="jobapp.status === 'Ghosted'">
            <button (click)="generateRejectionLetter()">Generate Rejection Letter</button>
        </div>
    </div>

</div>
<div *ngIf="isEditing">
    <div>
        <h3>Editing {{ jobapp.company }}, {{ jobapp.position }}</h3>
    </div>
    <div  class="edit-app-subform">
        <div>
            <label for="status">Status</label>
            <select id="status" formControlName="status" #statusField [value]="jobapp.status">
                <option value="Not Applied" selected="true">Not Applied</option>
                <option value="Applied">Applied</option>
                <option value="Interviewing">Interviewing</option>
                <option value="Offer Received">Offer Received</option>
                <option value="Accepted Offer">Accepted Offer</option>
                <option value="Widthdrawn">Widthdrawn</option>
                <option value="Rejected">Rejected</option>
                <option value="Ghosted">Ghosted</option>
            </select>
        </div>
        <div>
            <label for="note">Add Note</label>
            <input type="text" #noteInput>
        </div>
        <div>
            <button (click)="updateItem(statusField.value, noteInput.value)">
                Update Job App
            </button>
            <button (click)="cancelUpdate()">
                Cancel
            </button>
        </div>
    </div>


</div>